* {
  box-sizing: border-box;
}

body {
  background-color: #3399ff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

form {
  background-color: white;
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 65px;
  border: none;
  display: inline-block;
}

label {
  float: left;
  padding-bottom: 15px;
  padding-top: 15px;
}

.analog-form input, .analog-form button {
  width: 320px;
  padding: 20px;
  border-radius: 4px;
}

.analog-form input {
  border: 2px solid lightgray;
  font-size: 15px;
}

button {
  background-color: #00cc66;
  color: white;
  font-size: 20px;
  width: 320px;
  margin-top: 15px;
}

img {
  height: 35px;
  margin: 20px;
}

p {
  color: white;
  font-weight: bold;
  text-align: center;
}
a {
  color: white;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 40px;
  font-size: 30px;
}